.content{
    background-color: #eef7ff;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #0d2166;
    font-family:  sans-serif;
    .cardContent{
        display: flex;
        flex-direction: row;
        background-color: white;
        padding: 2rem;
        border-radius: 20px;
        box-shadow: 5px 5px 40px 2px #bddefa;
        min-width: 50%;
        .slectedList{
            padding: 0px 10px;
            width: 60%;
            ul {
                list-style-type: none; 
                width: 100%;
                .selectedOptions {
                    background-color: #0d2166;
                    width: 70%;
                    border-radius: 5px;
                    margin: 10px 0px;
                    padding: 10px;
                    color: white;
                    transition: ease 0.3s;
                    &:hover {
                        transform: translateY(-4px);
                        box-shadow: 2px 2px 5px 1px #bddefa;
                    }

                    i{
                        float: right;
                    }
                }
                .noSkill {
                    margin-bottom: 10px;
                }
            }
        }
        .suggestedList{
            ul{
                list-style-type: none;
                padding: 0px 0px;
                li {
                    margin: 5px 0px;
                    cursor: pointer;
                    &::before {
                        content: '+';
                        position: relative;
                    }
                }
            }
        }
    }
}